
@import url('https://fonts.googleapis.com/css2?family=Bad+Script&display=swap');


body {
    font-family:;
  
   
}

h1, h4, h5 {
    color: #757c5b;
}


.content-container {
    margin-bottom: 200px;
    text-align: center;

}
/*------------------ Header section */

.header-container {
    margin-bottom: 200px;
    padding: 0;
    position: relative;
    max-height: 900px;
    overflow: hidden;
    
}


.header-container h1 {
    margin: 0;
    padding: 0;
    position: fixed;
    top:40px;
    left: 40px;
    font-family: "Bad Script", serif;
    font-size: 3rem;
    font-weight: bold;
    
}



/* -------------- Navigation bar */

.nav-container {
    position: fixed;
    right: 0;
    top: 40px;
    z-index: 1;

}

/*---------------About section */

.about-col h4 {
    text-align: center;
}

   .about-col p {
    margin-top: 40px;
    margin-right: 80px; 
    }

 .about-self-img {
    height: 40%;
    width: 40%;
    float:left;
    margin: 40px;
    border-radius: 50%;
    /*Credit for the line of code below, making text wrap image in circular shape: https://css-tricks.com/almanac/properties/s/shape-outside/*/
    shape-outside: circle(50%); 
    }

/* Credit for below code for responsive circular images, keeping their shape: https://stackoverflow.com/questions/35336298/responsive-circular-images*/
 .circular-responsive-img {
     position: relative;
     border-radius: 50%;
     width: 200px;
     height: 200px;
     overflow: hidden;
     display: inline-block;
 }

.first-img-container {
    top: 40px;
    right: 20px;
}

.second-img-container {
    bottom: 40px;
    left: 20px;
    
}

.third-img-container {
   top: 40px;
}

#first-about-img {
/*position: absolute;
top: 0; bottom: 0; left: 0; right: 0;*/
width: 100%;
height: 100%;
object-fit: cover;

}

#second-about-img {
position: absolute;
top: 0; bottom: 0; left: 0; right: 0;
width: 100%;
height: 100%;
object-fit: cover;

}

#third-about-img {
position: absolute;
top: 0; bottom: 0; left: 0; right: 0;
width: 100%;
height: 100%;
object-fit: cover;
}


/*---------------------------------------Gallery*/

#gallery {
    padding-top: 80px;
    padding-bottom: 20px;

  
}

.gallery-container {
    line-height: 0;
    column-count: 4;
    column-gap: 2px;
    margin-top: 100px;
    margin-bottom: 200px;
    width: 100%;
    
}

.gallery-container img {
    width: 100%;
}

/*----------------------------Contact section */


/* Credit for the code below making the background-image transparent while text and image elements on top remain non-transparent: https://css-tricks.com/non-transparent-elements-inside-transparent-elements/*/

.background-container {
 background: url("/assets/images/DSC_0156_svartvit_2.jpg") no-repeat;
 background-size: cover;   
 padding-top: 500px;
 padding-bottom: 500px;
 opacity: 0.5;
 
 
 
}

.contact-container {
    position: relative;
    margin-top: -700px;
    width: 50%;
    float: left;
}


.form-group {
    color: #fff;
    padding-left: 80px;
    padding-right: 80px;
    margin-top: 20px;
   margin-bottom: 20px;
    
}


.form-send-btn {
    background-color: #fc6336;
    color: #fff;
    margin-top: 20px;
   
}


/*-----------------------------Footer */

.footer {
    height: 7%;
    text-align: center;
    padding: 20px;
    position: fixed;
    bottom: 0;
    background-color: transparent;
    
}

.footer p {
    font-size: 1rem;
    margin: 0;
    color: rgba(248, 247, 247, 0.8);
}

.social-icon {
    font-size: 2rem;
    margin-bottom: 15px;
    margin-right: 20px;
    color: #fc6336;
}

.cta-btn {
    position: fixed;
    bottom: 40px;
    right: 40px;
    border-radius: 50%;
    background-color: #fff;
    padding: 20px;
    z-index: 1;

}

.cta-btn i {
    text-decoration: none;
    font-size: 4rem;
    color: #fc6336;
    
}

/* ----------------------------------------Media queries */

@media screen and (max-width: 767px) {

.about-col {
    
    margin: 40px;
}

.gallery-container {
    column-count: 3;
}

.contact-container {
    float: none;
    text-align: center;
    width: 100%;
    padding: 20%;
   
}
    
}

@media screen and (max-width: 575px) {
.about-self-image {
        float: none;
}

    .gallery-container {
        column-count: 2; 
    }

    .contact-container {
        padding: 10%;
    }
}