
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300;400&family=Dancing+Script:wght@500;700&family=La+Belle+Aurore&family=Overpass:wght@200;300&family=Raleway:wght@500&family=Roboto:wght@300;400&display=swap');


body {
    font-family: "Raleway", sans-serif;
    font-size: 0.95rem;
    background-color: #fbfcf2; 
    text-align: center;
}

h1, h4, h5 {
    color: #656d35;
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: 0.05rem;
    margin-top: 150px;
}


.content-container {
   padding: 80px 0;
}

/*------------------ Header section */

.header-container {
    /*margin-bottom: 200px;*/
    padding: 0;
    position: relative;
    max-height: 820px;
    overflow: hidden;
}

.header-container h1 {
    margin: 0;
    padding: 0;
    position: fixed;
    top:40px;
    left: 40px;
    font-family: "Dancing Script", serif;
    font-size: 3.5rem;
    font-weight: bold; 
}



/* -------------- Navigation bar */

.nav-container {
    position: fixed;
    right: 0;
    top: 40px;
    z-index: 1;
    
}

.nav-color {
    color: #656d35;
}



/*---------------About section */



.about-col p {
    margin-top: 40px;
    margin-right: 80px; 
    color: #72726c;
}

.about-self-img {
    height: 40%;
    width: 40%;
    float:left;
    margin: 40px;
    border-radius: 50%;
    /*Credit for the line of code below, making text wrap image in circular shape: https://css-tricks.com/almanac/properties/s/shape-outside/*/
    shape-outside: circle(50%); 
}

/* Credit for below code for responsive circular images, keeping their shape: https://stackoverflow.com/questions/35336298/responsive-circular-images*/
 .circular-responsive-img {
     position: relative;
     border-radius: 50%;
     width: 200px;
     height: 200px;
     overflow: hidden;
     display: inline-block;
 }

.first-img-container {
    top: 40px;
    right: 20px;
}

.second-img-container {
    bottom: 40px;
    left: 20px;
    
}

.third-img-container {
   top: 40px;
}

#first-about-img {
/*position: absolute;
top: 0; bottom: 0; left: 0; right: 0;*/
width: 100%;
height: 100%;
object-fit: cover;
}

#second-about-img {
position: absolute;
top: 0; bottom: 0; left: 0; right: 0;
width: 100%;
height: 100%;
object-fit: cover;
}

#third-about-img {
position: absolute;
top: 0; bottom: 0; left: 0; right: 0;
width: 100%;
height: 100%;
object-fit: cover;
}


/*---------------------------------------Gallery*/


.gallery-container {
    line-height: 0;
    column-count: 4;
    column-gap: 2px;
    margin-top: 100px;
    margin-bottom: 200px;
    width: 100%;  
}

.gallery-container img {
    width: 100%;
}

/*----------------------------Contact section */


/* Credit for the code below making the background-image transparent while text and image elements on top remain non-transparent: https://css-tricks.com/non-transparent-elements-inside-transparent-elements/*/

.background-container {
 background: url("../images/contactcontainer-bg.jpg") no-repeat;
 background-size: cover;   
 padding-top: 500px;
 padding-bottom: 500px;
 opacity: 0.7;
}

.contact-container {
    position: relative;
    margin-top: -800px;
    width: 50%;
    float: left;
}

.contact-container h4 {
    color: #fbfcf2;
    margin-bottom: 40px;
}



.form-group {
    color: #fff;
    padding-left: 80px;
    padding-right: 80px;
    margin-top: 20px;
    margin-bottom: 20px;   
}

.form-control {
  background-color: rgba(248, 247, 247, 0.8);
}

.form-send-btn {
    background-color: #656d35;
    color: #fff;
    margin-top: 20px;  
}




/*-----------------------------Footer */


.footer {
    height: 100px; 
    background-color: #949b60c4;
}


.footer p {
    font-size: 0.8rem;
    color: #fbfcf2;
    margin: 10px;
   
}

.social-icon {
    font-size: 1.8rem;
    margin: 15px;
    color: #fbfcf2;
}

.cta-btn {
    position: fixed;
    bottom: 40px;
    right: 40px;
    border-radius: 50%;
    background-color: #fff;;
    padding: 20px;
    z-index: 1;
}

.cta-btn i {
    text-decoration: none;
    font-size: 4rem;
    color: #c95512;
}


/* ----------------------------------------Media queries */

@media screen and (max-width: 767px) {

h4 {
    margin-top: 80px;
}

.header-container h1 {
    font-size: 2.5rem;
    left: 10px;
}
.about-col {
    margin: 0;
    padding: 0; 
}

.gallery-container {
    column-count: 3;
}

.contact-container {
    float: none;
    text-align: center;
    width: 100%;
    padding: 15%;
}

.cta-btn {
    bottom: 20px;
    right: 20px;
}

.cta-btn i {
    font-size: 3rem;
}
    
}

@media screen and (max-width: 575px) {
    /* .about-self-image {
        float: none;
}*/

    .gallery-container {
        column-count: 2; 
    }

   .contact-container {
        padding: 10%;
    }
}