
@import url('https://fonts.googleapis.com/css2?family=Bad+Script&display=swap');

body {
    font-family:;
    margin: 0;
   
}

h3 {
    text-align: center;
    margin-bottom: 200px;
    color: #757c5b;
}


.content-container {
    margin-bottom: 200px;

}
/*------------------ Header section */

.header-container {
    margin-bottom: 200px;
    padding: 0;
    position: relative;
    max-height: 900px;
    overflow: hidden;
    
}

.header-container h1 {
    margin: 0;
    padding: 0;
    position: absolute;
    top:40px;
    left: 40px;
    color: #fff;
    font-family: "Bad Script", serif;
    font-size: 3rem;
    font-weight: bold;
    
    
}

.carousel-container {
    z-index: -1;
  
}




/* -------------- Navigation bar */

.nav-container {
    position: fixed;
    right: 0;
    top: 40px;
    z-index: 1;

}

/*---------------About section */

    

.about-row {
    margin: 200px 80px;
  
    }
 
    

 .about-img {
    height: 40%;
    width: 40%;
    float:left;
    margin-bottom: 30px;
    margin-right: 30px;
    border-radius: 50%;
    }

.about-img-col img {
        width: 20%;
        border-radius: 50%;
        margin-left: 40px;
        
    }


#windmill-img {
position: relative;
top: 60px;
left: 100px;
width: 25%;
height: 25%;
}

#bread-img {
position: relative;
bottom: 80px;
right: 40px;
width: 35%;
height: 35%;
}

#flower-img {
position: relative;
top: 40px;
right: 60px;
width: 20%;
height: 20%;
}

/*---------------Gallery*/

#gallery {
    
}

.gallery-container {
    line-height: 0;
    column-count: 4;
    column-gap: 2px;
    margin-top: 100px;
    margin-bottom: 200px;
}

.gallery-container img {
    width: 100%;
}

/*----------------------------Contact section */



.contact-form {

}

.contact-img {
     height: 40%;
    width: 40%;
    margin-bottom: 30px;
    margin-right: 30px;
    border-radius: 50%;
}

/*-----------------------------Footer */

.footer {
    height: 7%;
    text-align: center;
    padding: 20px;
    position: fixed;
    bottom: 0;
    background-color: transparent;
    
}

.footer p {
    font-size: 1rem;
    margin: 0;
    color: rgba(248, 247, 247, 0.8);
}

.social-icon {
    font-size: 2rem;
    margin-bottom: 15px;
    margin-right: 20px;
    color: #fc6336;
}

.cta-btn {
    position: fixed;
    bottom: 40px;
    right: 40px;
    border-radius: 50%;
    background-color: #fff;
    padding: 20px;

}

.cta-btn i {
    text-decoration: none;
    font-size: 4rem;
    color: #fc6336;
    
}

@